<nav style="padding: 8px 0;">
    <p class="sidebar-section-label">Main Navigation</p>
    <ul class="sidebar-nav">
        <li class="has-sub">
            <a href="javascript:void(0)">
                <i class="fa fa-terminal"></i>
                <span>Menyu</span>
            </a>
            <ul class="sidebar-submenu">
                <li>
                    <a asp-controller="Users" asp-action="Index">
                        <i class="fa fa-users" style="width:14px; margin-right:6px;"></i>
                        Users
                    </a>
                </li>
                <li>
                    <a asp-controller="Professions" asp-action="Index">
                        <i class="fa fa-id-badge" style="width:14px; margin-right:6px;"></i>
                        Professions
                        <span class="badge-new">NEW</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Permissions" asp-action="Index">
                        <i class="fa fa-shield-halved" style="width:14px; margin-right:6px;"></i>
                        Permissions
                    </a>
                </li>
                <li>
                    <a asp-controller="Departments" asp-action="Index">
                        <i class="fa fa-sitemap" style="width:14px; margin-right:6px;"></i>
                        Departments
                        <span class="badge-new">NEW</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <p class="sidebar-section-label">System</p>
    <ul class="sidebar-nav">
        <li>
            <a asp-controller="Account" asp-action="Signout">
                <i class="fa fa-right-from-bracket"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</nav>
